.header {
    display: flex;
    background-color: lightblue;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-color {
    background-color: lightblue;
    width: 100%;
    margin-bottom: 30px;
    transform: skewY(-0.5rad);
}

.header-image {
    display: flex;
    height: 230px;
    width: 600px;
    background-color: brown;
    border: solid black 1px;
}

.aboutme {
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
}

.headerpara {
    padding: 2%;
    max-width: auto;
}

.main {
    display: grid;
    padding: 100px;
    column-gap: 15px;
    row-gap: 50px;
}

@media (min-width: 300px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media (min-width: 600px) {
    .main {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, 3fr);
    }
}

@media (min-width: 900px) {
    .main {
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(2, 2fr);
    }
}

.container {
    width: auto;
    height: auto;
}

.github-image {
    width: 25px;
    height: 25px;
    padding: 15px;
}

.share-icon {
    width: 30px;
    height: 30px;
    padding: 15px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.script {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    align-items: center;
}

.container-1 {
    border: solid black .5px;
    display: flex;
    flex-direction: column;
}

.image-1 {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.title-1 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.container-2 {
    border: solid black .5px;
    display: flex;
    flex-direction: column;
}

.image-2 {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.title-2 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.container-3 {
    border: solid black .5px;
    display: flex;
    flex-direction: column;
}

.image-3 {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.title-3 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.container-4 {
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
}

.image-4 {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.title-4 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.container-5 {
    border: solid black .5px;
    display: flex;
    flex-direction: column;
}

.image-5 {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.title-5 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.container-6 {
    border: solid black .5px;
    display: flex;
    flex-direction: column;
}

.image-6 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.title-6 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer {
    background-color: darkcyan;
    display: flex;
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
};

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone-number {
    display: flex;
    flex-direction: row;
}

.phone-icon {
    width: 30px;
    height: 30px;
    padding: 15px;
}

.email-address {
    display: flex;
    flex-direction: row;
}

.email-icon {
    width: 30px;
    height: 30px;
    padding: 15px;
}

.image {
    width: 30px;
    height: 30px;
    padding: 15px;
}

.footer-image {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-image {
    height: 300px;
    width: auto;
    padding: 20px;
}